.text-brand {
  color: var(--color-primary-brand);
}

.text-brand-dark {
  color: var(--color-secondary-green);
}

.text-centered {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 600;
}
