:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-primary-brand: #819b57;
  --color-secondary-green: #465929;
  --color-secondary-brown: #a18268;
  --color-secondary-grey: #cfcfbc;
}
