.input {
  position: relative;

  &__label {
    position: absolute;
    top: 16px;
    left: 32px;
  }

  &__control {
    width: 100%;
    padding: 16px 42px;
    border: 1px solid var(--color-secondary-brown);
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.17;

    &:focus {
      border-color: var(--color-primary-brand);
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.17;
      color: var(--color-secondary-brown);
    }

    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
}
