.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.5s;

  &:hover {
    color: var(--color-primary-brand);
  }
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.5s;

  &:hover {
    color: var(--color-primary-brand);
    font-weight: 300;
  }
}
