.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 325px;
}

.traditions-image {
  border-radius: 50% 50% 0px 0px;
}
