.header {
  position: absolute;
  padding-top: 32px;
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    gap: 40Spx;
  }

  &__logo {
    margin-left: 16px;

    @media screen and (min-width: $bp-desktop) {
      margin-left: 80px;
    }
  }

  &__nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__button {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__burger-menu {
    border: none;
    background-color: transparent;
    fill: var(--color-primary-light);
    padding: 0;
    margin-bottom: 16px;
    margin-right: 16px;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
