.traditions-section {
  padding-top: 40px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 96px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

  &__content {
    max-width: 710px;
  }

  &__title {
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 42px;
    }
  }

  &__image {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      border-radius: 50% 50% 0px 0px;
    }
  }

  &__text {
    &--limited {
      max-width: 325px;
    }
  }
}
